<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "tv.betheltv"
    version   = "1.0.0">

<name>Test</name>

<description>
A simple PhoneGap Build application.
</description>
<preference name="orientacion" value="portrait" />
<preference name="fullscreen" value="true" />
<icon src="img/silueta.png" />
<gap:splash src="img/splash.png" />
<author href="https://example.com" email="roelherrera22@gmail.com">
Roel Herrera
</author>

</widget>
